@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */

.homePage {
	background: #222222;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #546DA8;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #D0DEFE;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FFFFFF;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FFE1D4;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
body {
     font: 100%/1.4 Verdana, Arial, Helvetica, san-serif
     background-color: #FFFFFF;
     margin: 0;
     padding: 0;
     color: #000;
}

a:link {
     color: #1E3364;
}
a:visited {
     color: #1E3364;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
} 
